<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="runner1.Properties.Settings.wwwwConnectionString"
            connectionString="Data Source=LAPTOP-M55BR7ML\SQLEXPRESS;Initial Catalog=wwww;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>